.container {
  width: 96%;
}

.selected,
.unSelected {
  width: calc(10% - 1px);
  aspect-ratio: 1/1;
  border-style: none;
  background: none;
  margin-right: 1px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.selected {
  background: rgb(0, 175, 0);
  color: white;
}

.unSelected {
  background: rgb(250, 250, 250, 0.92);
}
.unSelected:hover {
  transform: translateY(-1px);
  background: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 80%;
  }
}
