.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/puzzle-bg.jpg");
  /* border: 12px solid green; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.fixedCard {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 640px;

  /* border: 8px solid blue; */
  /* background: yellow; */

  overflow: hidden;
  /* overflow: auto; */
}

.slidingCard {
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  transition: width 1s, transform 1s;
}

.slideToTop {
  transform: translateY(-50%);
}

.menu,
.game {
  width: 100%;
  height: 50%;
}

@media only screen and (min-width: 1080px) {
  .fixedCard {
    width: 840px;
    height: 540px;
    max-width: none;
    max-height: none;
  }

  .slidingCard {
    width: 200%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .slideToTop {
    transform: none;
    width: 100%;
  }

  .menu,
  .game {
    width: 420px;
    height: 100%;
  }
}
